<ul>
  <% if existing_message_boards_users %>
    <% @existing_message_boards_users.each do |agency_user| %>
    <% agency_user != current_user %>
      <li>
        <%= link_to(message_boards_path(current_user, :agency_user => agencyuser_id), method: :post) do %>
        <%= agency_user.username %>
        <% end %>
      </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

All Agencies:
<ul>
  <% Agencyuser.all.each do |agency_user| %>
    <% if agency_user != current_user %>
      <li>
        <%= link_to(message_boards_path(current_user, :agency_user => agencyuser_id), method: :post) do %>
        <%= agency_user.username %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
