<div class="col-md-3 mt-3">
  <%= form_tag filter_agencies_path do %>
    <ul class="list-group">
      <li class="list-group-item list-group-item-dark">
        <strong>Search By Area</strong>
      </li>
      <li class="list-group-item">
        <% if @agencies.aggs["area"].present? %>
          <% @agencies.aggs["area"]["buckets"].each do |filter| %>
            <%= check_box_tag "area[]", filter["key"] %>&nbsp&nbsp<%= label_tag "#{filter["key"]} (#{filter["doc_count"]})" %>
            <br />
          <% end %>
        <% end %>
      </li>
      <li class="list-group-item list-group-item-dark">
        <strong>Search By Category</strong>
      </li>
      <li class="list-group-item">
        <% if @agencies.aggs["categories_name"].present? %>
          <% @agencies.aggs["categories_name"]["buckets"].each do |filter| %>
            <%= check_box_tag "categories_name[]", filter["key"] %>&nbsp&nbsp<%= label_tag "#{filter["key"]} (#{filter["doc_count"]})" %>
            <br>
          <% end %>
        <% end %>
      </li>
    </ul>
    <br>
    <%= submit_tag "Search", class: "btn btn-success"%>
  <% end %>
</div>


