<div class="home-container">
  <div class="container-header">
    <div class="home-row">
      <h1>Cosmos</h1>
    </div>
    <br />
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <div class="container container-categories">
    <div class="home-row">
      <%= image_tag("logos/financial.svg", alt: "Financial Assistance", size: "60x60") %>
      <h3>Financial Assistance</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/family.svg", alt: "Family Services", size: "60x60") %>
      <h3>Family Services</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/food_rations.svg", alt: "Food Rations", size: "60x60") %>
      <h3>Food Rations</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/donations.svg", alt: "Donations of Items", size: "60x60") %>
      <h3>Donation of Items</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/health.svg", alt: "Health/Hospitals", size: "60x60") %>
      <h3>Health/Hospitals</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/mental_health.svg", alt: "Mental Health", size: "60x60") %>
      <h3>Mental Health</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/elderly.svg", alt: "Elder Services", size: "60x60") %>
      <h3>Elder Services</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/children.svg", alt: "Children Services", size: "60x60") %>
      <h3>Children Services</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/teens.svg", alt: "Teenage Services", size: "60x60") %>
      <h3>Teenage Services</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/unemployment.svg", alt: "Skills & Employment", size: "60x60") %>
      <h3>Skills & Employment</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/homeless.svg", alt: "Homeless Support", size: "60x60") %>
      <h3>Homeless Support</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/addictions.svg", alt: "Addictions Resources", size: "60x60") %>
      <h3>Addictions Resources</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/counselling.svg", alt: "Counselling", size: "60x60") %>
      <h3>Counselling</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/legal.svg", alt: "Legal & Advocacy", size: "60x60") %>
      <h3>Legal & Advocacy</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/special_needs.svg", alt: "Special Needs", size: "60x60") %>
      <h3>Special Needs</h3>
    </div>
    <div class="home-row">
      <%= image_tag("logos/disability.svg", alt: "Disability Support", size: "60x60") %>
      <h3>Disability Support</h3>
    </div>
    <div class="home-row">
      <h3>Miscellaneous</h3>
    </div>
  </div>

  <div class="container-fluid container-footer">
    <div class="home-row">
      <form>
        <div class="form-group">
          <label for="FormControlInput1">Name</label>
          <input type="name" class="form-control" id="FormControlInput1">
        </div>
        <div class="form-group">
          <label for="FormControlInput2">Contact number</label>
          <input type="contact" class="form-control" id="FormControlInput2">
        </div>
        <div class="form-group">
          <label for="FormControlInput3">Email address</label>
          <input type="email" class="form-control" id="FormControlInput3" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="FormControlTextarea1">Feedback/Comments</label>
          <textarea class="form-control" id="FormControlTextarea4" rows="3"></textarea>
        </div>
        <div class="col-xl-3 text-center">
          <button class="btn btn-success" type="submit">Submit form</button>
        </div>
      </form>
    
    </div>
  </div>
</div>