<div class="home-container">
  <div class="container-header">
    <div class="home-row">
      <h1>Cosmos</h1>
    </div>
    <br />
  </div>

  <div class="content-title">
    <h3> Categories </h3>
    <div class="content-title-underline"></div>
  </div>
  <div class="container">
    <div class="row services">
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(1), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/financial.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Financial Assistance</h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(2), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/family.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Family Services</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(3), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/food_rations.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Food Rations</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(4), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/donations.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Donation of Items</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(5), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/health.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Health/Hospitals </h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(6), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/elderly.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Elder Services</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(7), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/children.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Children Services</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(8), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/teens.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Teenage Services</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(9), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/unemployment.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Skills & Employment</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(10), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/homeless.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Homeless Support</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(11), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/mental_health.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Mental Health</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(12), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/addictions.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Addictions Resources</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(13), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/counselling.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Counselling</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(14), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/legal.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Legal & Advocacy</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(15), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/special_needs.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Special Needs</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(16), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/disability.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Disability Support</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(17), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/counselling.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Miscellaneous</h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <section id="contact">
    <div class="container-fluid container-footer">
      <div class="col-md-5"><br>
        <h3 class="text-center">Contact Us</h3>
        <br>
        <%= form_for [@contact], url: contacts_path, method: :post do |f| %>
          <div class="form-group">
            <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :phone_number, placeholder: "Contact Number", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.text_area :feedback, class: "form-control", placeholder: "Feedback/Comments", rows: "5" %>
          </div>
          <div class="form-group">
            <%= f.submit "Submit Form", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
