<div class="home-container">
  <div class="container-header">
    <div class="home-row">
      <h1>Cosmos</h1>
    </div>
    <br />
  </div>

  <div class="content-title">
    <h3> Categories </h3>
    <div class="content-title-underline"></div>
  </div>
  <div class="container">
    <div class="row services">
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(1), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/financial.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Financial Assistance</h3>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(2), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/family.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Family Services</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(3), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/food_rations.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Food Rations</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(4), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/donations.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Donation of Items</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(5), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/health.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Health/Hospitals </h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(6), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/mental_health.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Mental Health</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(7), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/elderly.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Elder Services</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(8), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/children.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Children Services</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(9), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/teens.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Teenage Services</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(10), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/unemployment.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3> Skills & Employment</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(11), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/homeless.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Homeless Support</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(12), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/addictions.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Addictions Resources</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(13), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/counselling.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Counselling</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(14), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/legal.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Legal & Advocacy</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(15), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/special_needs.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Special Needs</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(16), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/disability.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Disability Support</h3>
            </div>
          </div>
         <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to category_path(17), style: 'text-decoration:none; color:black' do %>
          <div class="categories-item">
            <div class="categories-item-icon">
              <%= image_tag("logos/counselling.svg", alt: "Financial Assistance", align: "left") %>
            </div>
            <div class="categories-item-title">
              <h3>Miscellaneous</h3>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <section id="contact">




    <div class="container-fluid container-footer">

        <div class="row d-flex justify-content-center">
  <div class="col-md-7">
    <%= form_for @agency do |f| %>
    <div class="card mt-5">
      <div class="card-header">
        <h4>Forms</h4>
      <div class="card-body">
        <form>

          <div class="form-group">
            <%= f.label :name, "Name" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :office_number, "Office Number" %>
            <%= f.text_field :office_number, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :fax_number, "Fax Number" %>
            <%= f.text_field :fax_number, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :street_name, "Address" %>
            <%= f.text_field :street_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :postal_code, "Address" %>
            <%= f.text_field :postal_code, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, "E-mail" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :website, "Website" %>
            <%= f.text_field :website, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :opening_hours, "Opening Hours" %>
            <%= f.text_field :opening_hours, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :criteria, "Criteria" %>
            <%= f.text_field :criteria, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :description, "Description" %>
            <%= f.text_field :description, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :area, "Gender" %>
            <%= f.select :area, Agency.area.keys.map{ |w| [w.humanize, w] }, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :categories, "Categories: " %>
            <br>
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false do |cb| %>
              <%= cb.label  do %>
                <%= cb.check_box %>
                <%= cb.text %>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        </form>
      </div>
      </div>
    </div>
     <% end %>
  </div>

  </div>

    </div>
  </section>
</div>
