<% if @agencyuser.errors.any? %>
  <div class="container ">
    <div class="row d-flex justify-content-center">
      <div class="alert alert-info col-md-6" role="alert">
        <h4>We have some errors here !</h4>
          <ul>
            <% @agencyuser.errors.full_messages.each do |msg| %>
              <li class="mb-0"><%= msg %></li>
            <% end %>
          </ul>
        <hr>
      </div>
    </div>
  </div>
<% end %>

<div class="container ">
  <div class="row d-flex justify-content-center">
  <div class="col-md-7">
    <%= form_for [:admin, @agencyuser] do |f| %>
    <div class="card mt-3 mb-3">
      <div class="card-header">
        <h4>Agency User Profile</h4>
      <div class="card-body">
        <form>

          <div class="form-group">
            <%= f.label :username, "Username" %>
            <%= f.text_field :username, class: "form-control", disabled: true %>
          </div>

          <div class="form-group">
            <%= f.label :email, "E-mail" %>
            <%= f.text_field :email, class: "form-control", disabled: true %>
          </div>

          <div class="form-group">
            <%= f.label :agency_id, "Postal Code" %>
            <%= f.collection_select :agency_id, Agency.all, :id, :name, {prompt: true}, {class: "form-control"} %>
          </div>

          <div class="form-group">
            <%= link_to 'Back Index', admin_agencyusers_path, class: 'btn btn-info'%>
            <%= f.submit class: "btn btn-primary" %>
          </div>
        </form>
      </div>
      </div>
    </div>
     <% end %>
  </div>

  </div>
</div
