
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to 'Dashboard', admin_agencies_path %>
      </li>
      <li class="breadcrumb-item">
        <%= link_to 'Agencies', admin_agencies_path %>
      </li>
      <li class="breadcrumb-item active"><%= @agency.name %></li>
    </ol>
    <div class="row ">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h3><%= @agency.name %></h3>
            <br>
            <p><%= @agency.description %></p>
          </div>
        </div>
        <br>
        <div class="card mb-5">
          <div class="card-body mb-1">
            <h3>Map</h3>
              <iframe width="690" height="450" frameborder="0" style="border:0"
              src="https://www.google.com.sg/maps/embed/v1/place?q=<%="Singapore #{sprintf('%06i', @agency.postal_code)} "%>&key=<%=ENV['GOOGLE_API_KEY2']%>" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item agency-color"><h5><%= icon('fas', 'map-marker' ) + "  Address" %></h5><span class="text-muted"><%= @agency.street_name %><br>Singapore <%= "#{sprintf('%06i', @agency.postal_code)}" %></span></li>
          <li class="list-group-item agency-color"><h5><%= icon('fas', 'clock' ) + "  Opening Hours" %></h5><span class="text-muted"><%= @agency.opening_hours%></span></li>
          <li class="list-group-item agency-color">
            <h5><%= icon('fas', 'phone' ) + "  Contact" %></h5>
            <%= link_to "Dial: " + @agency.office_number.to_s, nil, class: 'btn btn-outline-primary d-flex justify-content-center' %><br>
            <%= link_to 'Fax: ' + @agency.fax_number.to_s, nil, class: 'btn btn-outline-primary d-flex justify-content-center' %><br>
            <% if user_signed_in? && current_user.user? && current_user !=  @other_user %>
              <%= link_to 'Live Chat With Agency', user_message_boards_path(current_user, other_user: @other_user), method: :post, class: 'btn btn-outline-success d-flex justify-content-center' %><br>
            <% end %>
          </li>
          <li class="list-group-item agency-color"><h5><%= icon('fas', 'envelope' ) + " Email" %>&nbsp&nbsp</h5><%=  mail_to  @agency.email, @agency.email, class: 'email-link' %><h5><br><%= icon('fas', 'link' ) + " Website" %>&nbsp&nbsp</h5><%= link_to @agency.website,  @agency.website, class: 'email-link' %></li>
        </ul>
      </div>
      <br>
    </div>
  </div>

