<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>User Management</h1>
      <br>
      <div>
        <%= link_to 'Agency', admin_agencies_path %> |
        <%= link_to 'Category', admin_categories_path %> |
        <%= link_to 'User', admin_users_path %>
      </div>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Postal Code</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.name %></td>
            <td><%= user.postal_code %></td>
            <td>
              <%= link_to 'Show', admin_user_path(user) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
