<div class="background-signin">
  <div class="container ">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="margin-card card mb-5">
            <div class="card-header">
            <h4>Sign Up</h4>
            <div class="card-body">
              <form>

                <div class="form-group">
                  <%= f.label :username, "Username" %>
                  <%= f.text_field :username, autofocus: true, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :name, "Name" %>
                  <%= f.text_field :name, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :email, "E-mail" %>
                  <%= f.email_field :email, class: "form-control", autocomplete: "email" %>
                </div>

                <div class="form-group">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :postal_code, "Postal Code" %>
                  <%= f.text_field :postal_code, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :birth_date, "Date of Birth" %>
                  <%= f.date_select :birth_date, start_year: 1920, end_year: Date.today.year, order: [:day, :month, :year], default: Date.today, class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :gender, "Gender" %>&nbsp&nbsp
                  <% User.genders.keys.each do |gender| %>
                    <%= f.radio_button :gender, gender %>
                    <%= f.label gender.to_sym %>&nbsp&nbsp
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.label :marital_status, "Marital Status" %>&nbsp&nbsp
                  <% User.marital_statuses.keys.each do |marital_status| %>
                    <%= f.radio_button :marital_status, marital_status %>
                    <%= f.label marital_status.to_sym %>&nbsp&nbsp
                  <% end %>
                </div>

                <div class="form-group">
                  <%= f.label :children, "Children" %>&nbsp&nbsp
                  <% User.children.keys.each do |children| %>
                    <%= f.radio_button :children, children %>
                    <%= f.label children.to_sym %>&nbsp&nbsp
                  <% end %>
                </div>

                <div class="form-group">
                  <%= link_to 'Back', new_user_session_path, class: 'btn btn-info'%>
                  <%= f.submit "Sign Up", class: "btn btn-primary" %>
                </div>
              </form>
            </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
